
html{
    scroll-behavior: smooth; 
  }  
body{
    font-family:'Noto Serif', serif;
    font-size:18px;
    font-weight:400;
    line-height:1.5;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    outline:none;
}


